body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-color: antiquewhite; */
}

.rowz {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  padding-left: 10px;
  margin-bottom: 50px;
}

/* Lớp cha button-container trong trường hợp
 này sẽ được sử dụng để đóng gói tất cả các nút, và t
 huộc tính flex-wrap: wrap; sẽ giúp các nút được xếp vào các hàng khi không còn đủ chỗ trên hàng hiện tại. */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-btn {
  width: 300px;
  height: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #87cefa;
  transition: all 0.2s linear;
}

/* Chữ phía dưới button */
.my-btn span {
  padding-top: 10px; /* Khoảng cách giữa button và span */
  font-size: 24px;
  font-weight: bold;
}

/* chạm vào đổi màu */
.my-btn:hover {
  opacity: 0.8;
  transform: translateY(-20px);
  cursor: pointer;
}

.my-btn img {
  width: 250px;
}

.spanz {
  font-size: 50px;
  font-weight: bold;
}

/* Căn giữa căn ngang chữ thi trắc nghiệm */
.containers {
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  font-size: 80px;
  color: #059862;
}

/* Khung của time */
.containerftime {
  align-items: center;
}

.timez {
  display: block;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  color: #059862;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
/* Title for topic */

.titlez {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  font-size: 80px;
  color: #059862;
  margin-top: 148px;
  margin-bottom: 32px;
}

/* Thanh menu */
/* header.php */

#countdowntimer {
  float: right;

  display: block;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  color: #059862;
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  width: 150px;
  height: 25px;
  transition: all 0.2s linear;
}

#countdowntimer:hover {
  background-color: #059862;
  color: #fff;
}

/*  menu*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 96.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 40px;
  background-color: #000;
  z-index: 1000;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  transition: all 0.3s ease;

  font-size: 15px;
  font-weight: bold;
}
.menu li:hover,
li.active {
  background-color: #059862;
}

.menu li:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transition: all 0.3s ease;
}
.menu li:hover:after,
.menu li.active:after {
  width: 100%;
  left: 0;
  background: #fff;
}
.menu li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

/* result - quest */
.tb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  height: 300px;
  width: 1000px;
  background-color: #059862;
  border-radius: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
